.gallery{
    width:60%;
    height:60%;
   
}
h6{
    text-align: center;
    /* width:fit-content; */
    margin-top: 1%;
    color: darkgreen;
}

#Dropdown{
    margin-top: 5%;
}
#logo{
    width: 2%;
    height:2%;
}
.d flex{
width: 100%;
}
.d-flex button{
margin-left: 2%;
}

.list{
    width:160%;
    height: 60%;
    margin-top: 18%;
}

.fridge{
    width:100%;
}
.darkmode{
    background-color:rgb(63, 62, 62);
    color:white;
}
.footdarkmode{
    background-color:rgb(63, 62, 62);
    color:white;
}
#main{
    /* opacity: 0.5;  */
    z-index: 1;
    /* position: absolute; */
}

#coupon{
    height: 350px;
    width: 600px;
    background-color: rgb(0, 157, 255);
    z-index: 100;
    position: absolute;
    margin-top: -84%;
    margin-left: 30%;
    visibility: hidden;
    /* opacity: 1; */
    
}
#coupon button{
    background-color:yellow;
    border-radius: 20%;
}
.offer{
    height: 350px;
    width: 600px;
}

/*Footer Section*/
footer{
    /* border:5px groove green; */
    background-color:#2370f4;
    color:white;
    text-align: center;
}

.footText{
    font-size:20px;
}

.footDiv{
    display: inline-block;
    width:32%;
    border-right: 2px solid white;
}

.noBorder{
    border:none
}

ul{
    list-style-type: none;
}
#social{
    float:right
}

.socialLogo{
    height:50px;
}
#out{
    color:white;
    margin-left: 2%;
}
#weather{
    color:white;
    margin-left: 2%;
}